html, body {
  width:  100%;
  height: 100%;
  margin: 0px;

  background-color: #D5EBE8;
}

html {
	/* background:  url(../img/test.gif) no-repeat center center fixed; 
    background-size: cover;
    /* http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif */
}

img {
	width: 30px;
	height: 30px;
}

#title {
	margin-left: 5%;
}

#clues {

  margin-left: auto;
  margin-right: auto;

  overflow: scroll;
}

.clueHeader {
	text-decoration: underline;
	text-align: center;
}

#crosswordTable {
	border-collapse: collapse;

	margin-top: 20%;
}

.crosswordCell {
	height: 30px;
	width: 30px;

	border: 1px solid black;
	text-align: center;

	background-color: LightGray;

    position: relative;
}

.blankCell {
  height: 30px;
  width: 30px;

  border: 1px solid black;
  text-align: center;

  background-color: black;
}

.crosswordIndex {
    width: 30%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;  
      z-index: 10;
    text-align:right;
    vertical-align:bottom;
}

.container > * {
    display: inline-block;
    vertical-align: top;
}

.daySubscript {
    font-size: 10px;
    color: Black;
    position: absolute;
    top: 0;
    left: 0;  
      z-index: 10;
    text-align:right;
    vertical-align:bottom;
}

#edmundButton {
  margin-top: 10%;
  margin-left: 30%;
}

#statusPane {
  margin-left: 10%;
  overflow: scroll;
  text-align: center;
}

#statusLabel {
  text-align: center;
  text-decoration: underline;
}