html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}

html {
	/* background:  url(../img/test.gif) no-repeat center center fixed; 
    background-size: cover;
    /* http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif */
}

img {
	width: 30px;
	height: 30px;
}

#title {
	margin-left: 30%;
}

#status {
	margin-left: 80%;
}

#clues {
  overflow: scroll;
}

#downClues {
  margin-left: 15%;
}

.clueHeader {
	text-align: center;
	color: #2980b9;
}

#crosswordTable {
	border-collapse: collapse;
	margin-top: 10%;
}

.crosswordCell {
	height: 30px;
	width: 30px;

	border: 1px solid black;
	text-align: center;

	background-color: white;

    position: relative;
}

.blankCell {
  height: 30px;
  width: 30px;

  border: 1px solid black;
  text-align: center;

  background-color: black;
}

.crosswordIndex {
    width: 30%;
    height: 60%;
    position: absolute;
    top: 0;
    left: 0;  
      z-index: 10;
    text-align:right;
    vertical-align:bottom;
}

.container > * {
    width: 1200px;
}

.daySubscript {
    font-size: 10px;
    color: Black;
    position: absolute;
    top: 0;
    left: 0;  
    z-index: 10;
    text-align:right;
    vertical-align:bottom;
}

#fileInput {
  margin-left: 17%;
}

.column-left{ float: left; width: 30%; padding-top: 75px;}
.column-right{ float: right; width: 30%;padding-top: 75px;}
.column-center{ display: inline-block; width: 40%;}

.runButton {
  margin-top: 17px;
  padding-right: 240px;
   }

.file {
  margin-top: 25px;
  margin-right: 50px;
  color: white;
  }

.header {
    background-color: #95a5a6;
    height: 75px;
}

.title-text {
    margin-left: 10px;
    padding-top: 20px;
    color: white;
}

.btn {
    background: #2980b9;
}

#singleClue {
    background: #3498db;
    text-align: center;
    color: white;
    margin-left: 75px;
}

#answerLength {
    background: #3498db;
    text-align: center;
    color: white;
}

#askEdmund {
    margin-left: 515px;
    align: center;
    width: 120px;
}

#hint {
    text-align: center;
    color: white;
    background: #3498db;
}
